{% extends 'base.html.twig' %}

{% block body %}

                    <div>
                        <a href="/authentificationEtu" class="btn btn-default navbar-btn">Je suis étudiant</a>
                        <a href="/authentificationProf" class="btn btn-default navbar-btn">Je suis professeur</a>
                    </div>
{% endblock %}